<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico" >
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/lib/html5shiv.js"></script>
	<script type="text/javascript" src="/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title>列表</title>
</head>
<body>
<div class="page-container">
	<div class="row cl">
		<form action="/sendMedicine">
			<h5>患者信息查询</h5>
			<label class="form-label col-xs-1 col-sm-1">病历号：</label>
			<div class="formControls col-xs-2 col-sm-2">
				<input type="text" class="input-text" value="" placeholder="" id="MedicRecord" name="MedicRecord" th:value="${MedicRecord}">
			</div>
			<div class="formControls col-xs-2 col-sm-2">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;查询&nbsp;&nbsp;">
			</div>

			<label class="form-label col-xs-12 col-sm-11"></label>
			<label class="form-label col-xs-12 col-sm-11"></label>
			<label class="form-label col-xs-12 col-sm-11"></label>
		</form>
	</div>
	<div class="row cl">
		<h5>患者信息确认</h5>
		<label class="form-label col-xs-1 col-sm-1">患者姓名：</label>
		<div class="formControls col-xs-2 col-sm-2">
			<input type="text" class="input-text" value="" placeholder="" id="PatientName" name="PatientName" th:value="${PatientName}"  disabled="disabled">
		</div>
		<label class="form-label col-xs-1 col-sm-1">身份证号：</label>
		<div class="formControls col-xs-2 col-sm-2">
			<input type="text" class="input-text" value="" placeholder="" id="IdentifyID" name="IdentifyID" th:value="${IdentifyID}" disabled="disabled">
		</div>
		<label class="form-label col-xs-1 col-sm-1">家庭地址：</label>
		<div class="formControls col-xs-2 col-sm-2">
			<input type="text" class="input-text" value="" placeholder="" id="Address" name="Address" th:value="${Address}" disabled="disabled">
		</div>

		<label class="form-label col-xs-12 col-sm-11"></label>
		<label class="form-label col-xs-12 col-sm-11"></label>
		<label class="form-label col-xs-12 col-sm-11"></label>
	</div>
	<div class="mt-20">
		<div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                患者挂号列表
            </span>
		</div>
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
			<tr class="text-c">
				<!--<th width="25"><input type="checkbox" name="" value=""></th>-->
				<th width="80">项目名字</th>
				<th width="80">价格</th>
				<th width="80">数量</th>
				<th width="80">缴费时间</th>
				<th width="120">状态</th>
			</tr>
			</thead>
			<tbody  id="list">
			<tr class="text-c" th:each="info:${FeeDataList}" th:id="${info.receiptID}" onclick="ondel(this)">
				<!--<th width="25"><input type="checkbox" name="" value=""></th>-->
				<td th:text="${info.projectName}"></td>
				<td th:text="${info.price}"></td>
				<td th:text="${info.amount}"></td>
				<td th:text="${info.createTime}"></td>
				<td th:text="${info.state}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/laypage/1.2/laypage.js"></script>
<script type="text/javascript" th:inline="javascript">


	function ondel(element){
		var state = confirm("是否发药");
		if(state){
			var td = element.getElementsByTagName("td");
			td[4].innerHTML = "已发药";
			console.log("ss");
		}
	}
</script>
</body>
</html>